version: '3.9'
services:
  backend:
    build: ./backend
    ports:
      -"8000:8000"
    volumes:
      -./backend:/code
    command: uvicorn app.main:main --host 0.0.0.0 --port 8000
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    command: npm run dev
    